* {
    margin: 0;
    padding: 0;
    }
body{
    width:100%;
    height:100%;
}
.company2{
    display: flex;
    flex-direction:column;
    font-family: PingFang-SC-Medium;
    top: 25px;
}
.op1{
    color: #92AA5E;
    font-size: 22px;
  
    margin-top: 3px;
    margin-bottom: -10px;
}
.company2 .text{
    margin-left: 22px;
    
}
.company2 .text .strongtext{
    left: 24px;
    
    
    line-height:23px;
    font-size: 16px;
    text-align: left;
    font-family: PingFang-SC-Bold;
color:  #555555;
font-weight: 600;
margin-top: 55px; margin-bottom: 30px;
 }
 .company2 .text .normaltext{
    left: 24px;
   
 
    
    line-height:22px;
    font-size: 14px;
    text-align: left;
    font-family: PingFang-SC-Bold;
color:  #555555;
 }


.company2 .op2{
   
 }
 
