* {
    margin: 0;
    padding: 0;
    }
body{
    width:375px;
    height:812px;
}
.connect2{
    display: flex;
    flex-direction:column;
    
}
.connect2 .cp1{
   width: 375px;
}

.connect2 .cp2{
    width: 375px;
 }
 .connect2 .cp3{
    width: 375px;
 }
 .connect2 .cp4{
    width: 375px;
 }