* {
    margin: 0;
    padding: 0;
    }
body{
    width:375px;
    height:812px;
}
.connect2{
    display: flex;
    flex-direction:column;
    
}
.connect2 .cp1{
   width: 375px;
}
.connect2 .text{
    margin-left: 22px;
    
}
.connect2 .text .strongtext{
    left: 24px;
    top: 380px;
    width: 329px;
    height: 85px;
    line-height:22px;
    font-size: 18px;
    text-align: left;
    font-family: PingFangSC-regular;
    color: rgba(8, 8, 8, 0.690);

 }
 .connect2 .text .strongtext1{
    left: 24px;
    top: 380px;
    width: 329px;
    
    line-height:18px;
    font-size: 18px;
    text-align: left;
    font-family: PingFangSC-regular;
    color:  rgba(8, 8, 8, 0.690);
    margin-top: 11px;
    margin-bottom: 5px;

 }
 
 .connect2 .text .normaltext{
    left: 24px;
    width: 329px;
    line-height:23px;
    font-size: 14px;
    text-align: left;
    font-family: PingFangSC-regular;
    
   
   color: rgba(8, 8, 8, 0.616);
 }
 .connect2 .text .normaltext1{
    left: 24px;
    width: 329px;
    height: 85px;
    font-size: 14px;
    text-align: left;
    font-family: PingFangSC-regular;
   color: rgba(8, 8, 8, 0.616);
   margin-top: 10px;
 }
 .connect2 .text .normaltext2{
    left: 24px;
    width: 329px;
    line-height:21px;
    font-size: 14px;
    text-align: left;
    font-family: PingFangSC-regular;
    
   
   color: rgba(8, 8, 8, 0.616);
 }
 .connect2 .hr{
     margin-top: 5px;
 }
 
 .connect2 .cp4{
    width: 375px;
 }
