.content {
    width: 100%;
    height: 100%;
}


/* 模块一负责同学的样式 */

#modelOne .part1 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.part1 .fitstpicture {
    width: 100%;
}

.part1 .across1 {
    display: flex;
    flex-direction: row;
}

.part1 .across1 .text1 {
   margin-left: 15px;
right: 55px;

width: 353px;

font-size: 13px;
text-align: left;
font-family: PingFangSC-regular;
}

.part1 .across1 .arrow1 {
    margin-top: 70px;
    width:175px; 
}
.part1 .handcat{
    margin-top: 25px;
    margin-left: 80px;
}
.part1 .across2 {
    display: flex;
    flex-direction: row;
}

.part1 .across2 .arrow2 {
   margin-left: 40px;
    margin-top: 68px;
    width:175px; 
    left:15px;
}

.part1 .across2 .text2 {
    margin-top: 30px;
    top:50px;
text-align: right;
left: 12px;
top: 583px;
width: 342px;
font-size: 14px;
font-family: PingFangSC-regular;
margin-right: 15px;
margin-bottom: 45px;
}

.part1 .wheelp .swiper-container .swiper-wrapper .swiper-slide {
    width: 100%;
}
.part1 .buttonswiper{
    margin:auto;
    margin-bottom: 20px;
}

/* 模块二负责同学的样式 */

#modelTwo .TextBox {
    display: flex;
    left: 8px;
    top: 2000px;
    width: 100%;
    height: 400px;
    color: rgba(255, 255, 255, 100);
    font-size: 14px;
    text-align: left;
    font-family: PingFangSC-regular;
    margin-left: 8%;
    margin-top: 5%;
}

.TextBox img {
    transform: translateY(-150px);
    margin-left: 70%;
}

.TextBox p1 {
    text-align: left;
    color: #666666;
    line-height: 50px;
    font-size: 14px;
    line-height: 1.5;
}

.TextBox p2 {
    text-align: left;
    color: #444444;
    line-height: 50px;
    font-size: 14px;
    font-weight: 800;
    line-height: 1.5;
}

.two img {
    width: 140%;
    text-align: left;
    margin-right: 50%;
    transform: translateY(-200px);
}

.two {
    height: 100px;
}

.three {
    height: 80px;
}

.three img {
    margin-right: 300px;
    transform: translateY(220px);
}

.TextBox1 {
    text-align: right;
    margin-right: 8%;
    height: 560px;
}

.TextBox1 p1 {
    text-align: right;
    color: #666666;
    line-height: 50px;
    font-size: 14px;
    line-height: 1.5;
}

.TextBox1 p2 {
    text-align: right;
    color: #444444;
    line-height: 50px;
    font-size: 14px;
    font-weight: 1000;
    line-height: 1.5;
}

.TextBox1 img {
    width: 60%;
    margin-bottom: 20%;
}

.TextBox2 {
    text-align: left;
    margin-left: 8%;
    width: 100%;
    height: 700px;
}

.TextBox2 p1 {
    text-align: left;
    color: #666666;
    line-height: 50px;
    font-size: 14px;
    line-height: 1.5;
}

.TextBox2 p2 {
    text-align: left;
    color: #444444;
    line-height: 50px;
    font-size: 14px;
    font-weight: 800;
    line-height: 1.5;
}


/* 模块三负责同学的样式 */

body {
    margin: 0;
    padding: 0;
}

.one {
    margin-right: 26px;
    margin-bottom: 58.5px;
    float: right;
    text-align: right;
    line-height: 18px;
    font-family: PingFang-SC-Medium;
}

.one p1 {
    font-size: 14px;
    color: #666666;
}

.one p2 {
    font-size: 15px;
    color: #333333;
}

.two {
    margin-left: 25.5px;
    margin-top: 19.5px;
    float: left;
    text-align: left;
}

.two p3 {
    color: #333333;
    font-size: 27px;
}

.two p1 {
    color: #666666;
    font-size: 14px;
}

.three {
    margin-right: 27.5px;
    margin-top: 270px;
    text-align: right;
}

.three p3 {
    color: #333333;
    font-size: 27px;
}

.three p1 {
    color: #666666;
    font-size: 14px;
}

.three p2 {
    font-size: 15px;
    color: #333333;
}


/* 模块7负责同学的样式 */

#modelSeven {}


/* 模块8负责同学的样式 */

#modelEight {}


/* 模块四9负责同学的样式 */

#modelNine {}


/* 模块10负责同学的样式 */

#modelTen {}


/* 模块11负责同学的样式 */

#modelEle {}


/* 模块12负责同学的样式 */

#modelTwe {}
