.body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #92AA5E;
    height: 77px;
}

.r {
    margin-left: 25px;
    line-height: 85px;
}

.firstbox1 {
    margin-top: 45px;
    margin-left: 60px;
}

.secondbox1 {
    margin-top: 125px;
    margin-left: 200px;
}

.thirdbox1 {
    margin-left: 666px;
    margin-bottom: 30px;
}

.firstbox2 {
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 20px;
    color: rgb(103, 105, 107);
    font-size: 14px;
    line-height: 35px;
}

.firstbox3 {
    margin-top: 50px;
    margin-left: 67px;
    color: rgb(103, 105, 107);
    font-size: 14px;
    line-height: 35px;
}

.secondbox3 {
    margin-top: 100px;
    margin-left: 67px;
}

.thirdbox3 {
    margin-top: 100px;
    margin-left: 67px;
}

.fourthbox3 {
    margin-top: 100px;
    margin-left: 67px;
    margin-bottom: 100px;
}

.box4 {
    width: 100%;
}